/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fhonkai-star-rail.fandom.com%2Fwiki%2FCharacter&psig=AOvVaw0z4FuqILpjtAwlCNFFMQ9m&ust=1685508930202000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMin15mgnP8CFQAAAAAdAAAAABAE');
    --home-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fhonkai-star-rail.fandom.com%2Fwiki%2FCharacter&psig=AOvVaw0z4FuqILpjtAwlCNFFMQ9m&ust=1685508930202000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCKibr8CgnP8CFQAAAAAdAAAAABAE');
    --background-solid: #161921;
    --background-solid-dark: #101218;
    --background-solid-darker: #0c0e12;
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
